.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    /*box-shadow: 0px 0px 43px 7px rgba(153,153,153,1);*/
    box-shadow: inset -6px -6px 13px #fff, inset 6px 6px 13px rgba(0, 0, 0, .16);
    background-image: linear-gradient(rgb(165, 171, 223), rgb(218, 75, 111));
    border-radius: 20px;
    -webkit-border-radius: 30 px;
   
}

html {
    background-image: linear-gradient(rgb(241, 16, 129), rgb(64, 54, 197));
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.buttons>div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;

}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    box-shadow: inset -6px -6px 13px #fff, inset 6px 6px 13px rgba(0, 0, 0, .16);
}

#equal {
    background-color: crimson;
    color: white;
}

.button:hover {
    background-color: rgba(0, 0, 0, .5);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s ease-in-out;
}